@model IEnumerable<DesarrolloWebMVC_Pelicula.Web.Models.Pelicula>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table class="table">
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Título
                </th>
                <th>
                    Director
                </th>
                <th>
                    ActorPrincipal
                </th>
                <th>
                    numActores
                </th>
                <th>
                    Duración
                </th>
                <th>
                    Estreno
                </th>
                <th>
                    Borrar
                </th>
                <th>
                    Modificar
                </th>
            </tr>
            @foreach (var pelicula in Model)
            {
                <tr>
                    <td>
                        @pelicula.Codigo
                    </td>
                    <td>
                        @pelicula.Titulo
                    </td>
                    <td>
                        @pelicula.Director
                    </td>
                    <td>
                        @pelicula.ActorPrincipal
                    </td>
                    <td>
                        @pelicula.numActores
                    </td>
                    <td>
                        @pelicula.Duracion
                    </td>
                    <td>
                        @pelicula.Estreno
                    </td>
                    <td>
                        <a href="/Home/Borrar?cod=@pelicula.Codigo">Borrar?</a>
                    </td>
                    <td>
                        <a href="/Home/Modificacion?cod=@pelicula.Codigo">Modificar?</a>
                    </td>

                </tr>
            }
        </table>
        <br />
        <a href="/Home/Grabar">Agregar Nuevo</a>
    </div>
</body>
</html>
